<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">ChortQuarinRey</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="main.java.clases.Direccion" />
		<mapping class="main.java.clases.Localidad" />
		<mapping class="main.java.clases.Pais" />
		<mapping class="main.java.clases.Pasajero" />
		<mapping class="main.java.clases.Provincia" />
		<mapping class="main.java.clases.PersonaJuridica" />
		<mapping class="main.java.clases.ResponsableDePago" />

	</session-factory>
</hibernate-configuration>