<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">ChortQuarinReynoso</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="main.java.clases.Direccion" />
		<mapping class="main.java.clases.Localidad" />
		<mapping class="main.java.clases.Pais" />
		<mapping class="main.java.clases.Pasajero" />
		<mapping class="main.java.clases.Provincia" />
		<mapping class="main.java.clases.PersonaJuridica" />
		<mapping class="main.java.clases.ResponsableDePago" />
		<mapping class="main.java.clases.Habitacion" />
		<mapping class="main.java.clases.TipoHabitacion" />
		<mapping class="main.java.clases.Reserva" />
		<mapping class="main.java.clases.FueraDeServicio" />
		<mapping class="main.java.clases.Ocupacion" />
		<mapping class="main.java.clases.ItemOcupacion" />
		<mapping class="main.java.clases.Consumo" />
		<mapping class="main.java.clases.ItemConsumo" />
		<mapping class="main.java.clases.ItemFactura" />
		<mapping class="main.java.clases.Factura" />
		<mapping class="main.java.clases.DocumentoLegal" />
		<mapping class="main.java.clases.DatosResponsableDePago" />
		<mapping class="main.java.clases.Usuario" />

	</session-factory>
</hibernate-configuration>